In [1]:
from math import ceil
import numpy as np
import pandas as pd
import random

In [2]:
# Importing the data
R_df = pd.read_csv('InputData/R.csv',).drop('user_id\movie_id',axis=1)
R_df.columns = range(len(R_df.columns))
R_df

,0,1,2,3,4,5,6,7,8,9,...,1670,1671,1672,1673,1674,1675,1676,1677,1678,1679
0,5,3,4,3,3,5,4,1,5,3,...,0,0,0,0,0,0,0,0,0,0
1,4,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,0,0,0,0,0,0,0,0,5,0,...,0,0,0,0,0,0,0,0,0,0
939,0,0,0,2,0,0,4,5,3,0,...,0,0,0,0,0,0,0,0,0,0
940,5,0,0,0,0,0,4,0,0,0,...,0,0,0,0,0,0,0,0,0,0
941,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
942,0,5,0,0,0,0,0,0,3,0,...,0,0,0,0,0,0,0,0,0,0

### Household and Accounts Statistical Model

In [3]:
# Shared Datasets: 

n_one_users = 0
n_two_users = 600
n_three_users = 0
n_four_users = 0

# p_one_user_accounts = 0.60
# p_two_users_accounts = 0.30
# p_three_users_accounts = 0.20
# p_four_users_accounts = 0.10

# p_one_user_accounts = 0.67
# p_two_users_accounts = 0.31
# p_three_users_accounts = 0.016
# p_four_users_accounts = 0.004
# MovieLens 100K
num_users = R_df.shape[0] # total number of users

# Number of users in each account in 100K dataset
# n_one_users = 1+int(num_users*p_one_user_accounts)
# n_two_users = int(num_users*p_two_users_accounts)
# n_three_users = -1+ceil(num_users*p_three_users_accounts)
# n_four_users = ceil(num_users*p_four_users_accounts)

total = n_one_users+n_two_users+n_three_users+n_four_users

n_one_user_accounts = n_one_users
n_two_users_accounts = n_two_users/2
n_three_users_accounts = n_three_users/3
n_four_users_accounts = n_four_users/4

In [4]:
table = pd.DataFrame(
    [[n_one_users, n_two_users, n_three_users, n_four_users, total],
     [n_one_user_accounts,n_two_users_accounts,n_three_users_accounts,n_four_users_accounts,
      n_one_user_accounts+n_two_users_accounts+n_three_users_accounts+n_four_users_accounts]]
    , index=["#users", '#accounts'],columns=[1,2,3,4,'Total']).T.astype(int)

table['#accounts']['Total']

300

In [5]:
table

       #users  #accounts
1           0          0
2         600        300
3           0          0
4           0          0
Total     600        300

In [6]:
number_of_accounts = []
sizes = []
for i in range(4):
    number_of_accounts.append(table['#accounts'].iloc[i])
#     sizes.append(table["#users"].iloc[i])

In [7]:
number_of_accounts

[0, 300, 0, 0]

In [187]:
# Function to merge user rows
def merge_users(user_indices):
    return R_df.iloc[user_indices, :].mean(axis=0)

In [113]:
num_accounts = table['#accounts']['Total']
num_users = R_df.shape[0]
n = R_df.shape[1]

# Allocate users to shared accounts based on the calculated ratios and merge their ratings
np.random.seed(42)  # For reproducibility
user_indices = np.random.permutation(num_users)
account_indices = np.random.permutation(num_accounts)

# Create a new DataFrame for R_sa
R_sa = np.zeros((num_accounts,n),dtype=float)
merge_mapping = []
start_idx = 0
i=0

In [114]:
for size, row in table[:-1].iterrows():
    for _ in range(row['#accounts']):
        selected_users = user_indices[start_idx:start_idx+size]
        R_sa[account_indices[i]] = merge_users(selected_users)
        merge_mapping.append((account_indices[i], list(selected_users))) 
        start_idx += size
        i = i+1

In [115]:
selected_users

array([], dtype=int32)

In [10]:
# Reset the index of the new DataFrame
# R_sa.reset_index(drop=True, inplace=True)
pd.DataFrame(R_sa).to_csv('InputData/R_sa.csv')
# Convert the merge mapping to a DataFrame
merge_mapping_df = pd.DataFrame(merge_mapping,columns=['are mixed in row of R_sa','rows of R'])
merge_mapping_df.to_csv('InputData/SA.csv', index=False)
# Show the shape of the new matrix R_sa and a sample of the data

In [17]:
account_indices

array([524, 313, 382, 582, 455, 456, 175, 340, 232, 457, 594, 337, 309,
       564, 373,  27, 604, 450, 471, 185, 497, 393, 311, 322, 425, 466,
       459, 300,  20,  21, 408, 492, 241, 141, 371, 462, 310, 182, 509,
       488, 154, 596, 104,  67,  57, 426, 417, 271, 316,  51, 424, 427,
       240, 530, 414,  47, 252, 190, 314, 441,  49,  70, 303, 368, 545,
       211, 162,  64, 498, 124, 249, 575, 389,  90, 159,  76, 374, 204,
       487, 247, 357, 275, 411, 123,  29, 244, 439, 168,  65, 381, 569,
       437, 125, 563, 191, 407, 486, 283, 507, 216, 388, 491, 474, 268,
        42, 500,   2, 489,  44,  59, 169, 120,  23, 513, 482, 330, 102,
       554, 387, 430,  98, 468, 115,  93, 473, 469,  92, 237, 220,  71,
       206, 305, 264,  78, 267, 134, 261, 251,  15, 517, 353, 276, 205,
       485, 274, 527, 480, 534, 173, 366, 184, 203, 581,  82,  79,  61,
       166, 479, 342, 231,  73, 383, 361,  43, 420, 347, 280, 432, 101,
       107, 553,  34, 289, 384, 574, 444, 442,  60, 128, 400, 277,  72,
       219, 257, 278, 367, 207,  32,  55, 465, 376, 451, 518, 559, 226,
       354, 522, 186, 365, 163, 202, 514, 504, 537, 567, 585, 543, 577,
       180, 443, 192, 106, 324, 475,  63,  45, 239, 189, 307, 259, 526,
       476, 137, 198, 279,  11, 557, 562, 218, 551,  30,  56,  26, 212,
       501, 584, 470, 461,  75, 121, 229, 152, 350, 586,  33, 338,  40,
        99, 535, 297, 272, 145,  69, 397,  36, 273,  97, 108, 428, 505,
       592, 234, 245, 200, 236, 600,   8,  13, 270, 472, 208, 358, 394,
       356,  58, 306, 495, 423,  80,  52, 225, 339, 255, 481,  19, 118,
       194, 233, 463, 196,   1,  81, 187, 351,  35, 111, 146,  84, 150,
       380, 262,   6, 597, 386, 541, 529, 119, 436, 344,  87,  95, 402,
       335, 433, 508, 429,  66, 544, 238, 248,  53, 254, 246, 405, 561,
         7, 177, 332, 334,  86, 161, 265, 287, 130, 412, 263, 536, 413,
       165, 221, 113, 576, 587, 174, 538, 452,  17,  18, 143, 285, 304,
       539, 157,  31, 555, 210, 214, 449, 223, 422, 326, 372, 460, 188,
       431, 341, 494, 464, 379, 360,  83, 336,  48, 369, 155, 403, 149,
       533, 284, 176, 160, 343, 521, 179, 399, 151, 416, 519, 250, 363,
       127,  16, 346, 446, 520, 385, 493, 593, 572,  24, 243,  62, 601,
       153, 116, 415, 201, 550, 308, 148, 398, 370,  54, 560, 589, 312,
       181, 109, 454, 404, 100, 453, 256, 406, 266, 213, 296, 532,  28,
        50, 392, 377, 286,  91, 105, 126, 327, 292, 552, 132, 478, 355,
       170, 315, 448, 110, 209, 445, 523, 140, 217, 395, 362, 301, 345,
       490, 528, 199, 133, 568, 359, 496, 590,  10, 147,  68, 282, 298,
       281, 291, 548, 602, 114, 556, 506, 129, 583, 331, 323,  46, 483,
       565, 135, 511, 516, 183, 435, 215, 364, 227, 302, 158, 396, 293,
       579, 352, 329, 122, 540, 566, 595,  85, 195, 253, 515, 438, 410,
       484,  96, 588,  37, 156, 419, 230, 477, 288,  14, 499, 447, 178,
       390, 197,  38, 103, 502, 578, 144, 142,  22, 421, 525, 294, 598,
       401,  88,  41, 131, 580,  77, 378,   4, 164, 290, 269, 599, 348,
       571, 295, 512, 546, 603, 458, 375, 333, 235, 317,  94, 418, 570,
       328, 318, 320, 167,  12, 171, 260,   9, 258, 510, 138, 549, 319,
        89,   0, 558, 139, 112, 531, 224, 591, 409, 325, 299, 172, 434,
        25, 391, 193, 440, 573, 503, 117,   3,  74, 467, 321,   5, 222,
       547, 228,  39, 542, 242, 136, 349])

In [18]:
merge_mapping

[(524, [96]),
 (313, [265]),
 (382, [810]),
 (582, [23]),
 (455, [30]),
 (456, [280]),
 (175, [568]),
 (340, [259]),
 (232, [331]),
 (457, [323]),
 (594, [422]),
 (337, [467]),
 (309, [286]),
 (564, [893]),
 (373, [868]),
 (27, [638]),
 (604, [538]),
 (450, [499]),
 (471, [481]),
 (185, [334]),
 (497, [848]),
 (393, [770]),
 (311, [925]),
 (322, [39]),
 (425, [363]),
 (466, [764]),
 (459, [307]),
 (300, [444]),
 (20, [713]),
 (21, [704]),
 (408, [76]),
 (492, [817]),
 (241, [595]),
 (141, [371]),
 (371, [165]),
 (462, [755]),
 (310, [250]),
 (182, [882]),
 (509, [436]),
 (488, [239]),
 (154, [107]),
 (596, [67]),
 (104, [174]),
 (67, [158]),
 (57, [139]),
 (426, [754]),
 (417, [731]),
 (271, [306]),
 (316, [532]),
 (51, [694]),
 (424, [802]),
 (427, [63]),
 (240, [235]),
 (530, [765]),
 (414, [899]),
 (47, [86]),
 (252, [692]),
 (190, [723]),
 (314, [778]),
 (441, [516]),
 (49, [660]),
 (70, [587]),
 (303, [326]),
 (368, [218]),
 (545, [209]),
 (211, [656]),
 (162, [70]),
 (64, [928]),
 (498, [649]),
 (124, [468]),
 (249, [846]),
 (575, [199]),
 (389, [479]),
 (90, [447]),
 (159, [521]),
 (76, [675]),
 (374, [940]),
 (204, [136]),
 (487, [208]),
 (247, [625]),
 (357, [213]),
 (275, [572]),
 (411, [355]),
 (123, [621]),
 (29, [72]),
 (244, [477]),
 (439, [44]),
 (168, [891]),
 (65, [590]),
 (381, [613]),
 (569, [506]),
 (437, [266]),
 (125, [168]),
 (563, [332]),
 (191, [451]),
 (407, [309]),
 (486, [260]),
 (283, [606]),
 (507, [938]),
 (216, [822]),
 (388, [433]),
 (491, [327]),
 (474, [730]),
 (268, [885]),
 (42, [302]),
 (500, [617]),
 (2, [60]),
 (489, [247]),
 (44, [707]),
 (59, [409]),
 (169, [210]),
 (120, [669]),
 (23, [388]),
 (513, [66]),
 (482, [351]),
 (330, [275]),
 (102, [523]),
 (554, [559]),
 (387, [380]),
 (430, [261]),
 (98, [448]),
 (468, [896]),
 (115, [585]),
 (93, [254]),
 (473, [281]),
 (469, [852]),
 (92, [497]),
 (237, [120]),
 (220, [110]),
 (71, [615]),
 (206, [424]),
 (305, [884]),
 (264, [192]),
 (78, [892]),
 (267, [929]),
 (134, [541]),
 (261, [370]),
 (251, [588]),
 (15, [425]),
 (517, [137]),
 (353, [311]),
 (276, [728]),
 (205, [305]),
 (485, [705]),
 (274, [507]),
 (527, [522]),
 (480, [862]),
 (534, [673]),
 (173, [394]),
 (366, [534]),
 (184, [78]),
 (203, [598]),
 (581, [793]),
 (82, [780]),
 (79, [429]),
 (61, [605]),
 (166, [528]),
 (479, [853]),
 (342, [65]),
 (231, [141]),
 (73, [784]),
 (383, [526]),
 (361, [774]),
 (43, [626]),
 (420, [310]),
 (347, [744]),
 (280, [680]),
 (432, [382]),
 (101, [611]),
 (107, [49]),
 (553, [685]),
 (34, [404]),
 (289, [412]),
 (384, [850]),
 (574, [829]),
 (444, [825]),
 (442, [937]),
 (60, [198]),
 (128, [542]),
 (400, [33]),
 (277, [31]),
 (72, [703]),
 (219, [449]),
 (257, [359]),
 (278, [832]),
 (367, [551]),
 (207, [109]),
 (32, [77]),
 (55, [215]),
 (465, [244]),
 (376, [82]),
 (451, [316]),
 (518, [350]),
 (559, [465]),
 (226, [344]),
 (354, [2]),
 (522, [101]),
 (186, [453]),
 (365, [631]),
 (163, [231]),
 (202, [5]),
 (514, [54]),
 (504, [321]),
 (537, [906]),
 (567, [352]),
 (585, [787]),
 (543, [97]),
 (577, [758]),
 (180, [773]),
 (443, [900]),
 (192, [599]),
 (106, [903]),
 (324, [664]),
 (475, [887]),
 (63, [25]),
 (45, [84]),
 (239, [10]),
 (189, [603]),
 (307, [333]),
 (259, [428]),
 (526, [667]),
 (476, [941]),
 (137, [118]),
 (198, [318]),
 (279, [519]),
 (11, [29]),
 (557, [55]),
 (562, [672]),
 (218, [319]),
 (551, [622]),
 (30, [722]),
 (56, [196]),
 (26, [552]),
 (212, [81]),
 (501, [677]),
 (584, [657]),
 (470, [583]),
 (461, [298]),
 (75, [827]),
 (121, [328]),
 (229, [204]),
 (152, [211]),
 (350, [569]),
 (586, [796]),
 (33, [314]),
 (338, [290]),
 (40, [462]),
 (99, [602]),
 (535, [439]),
 (297, [227]),
 (272, [806]),
 (145, [904]),
 (69, [296]),
 (397, [751]),
 (36, [688]),
 (273, [59]),
 (97, [342]),
 (108, [879]),
 (428, [408]),
 (505, [398]),
 (592, [547]),
 (234, [7]),
 (245, [155]),
 (200, [890]),
 (236, [420]),
 (600, [576]),
 (8, [734]),
 (13, [533]),
 (270, [292]),
 (472, [543]),
 (208, [878]),
 (358, [362]),
 (394, [482]),
 (356, [548]),
 (58, [870]),
 (306, [593]),
 (495, [630]),
 (423, [228]),
 (80, [921]),
 (52, [687]),
 (225, [212]),
 (339, [79]),
 (255, [148]),
 (481, [720]),
 (19, [442]),
 (118, [299]),
 (194, [423]),
 (233, [294]),
 (463, [133]),
 (196, [581]),
 (1, [650]),
 (81, [417]),
 (187, [0]),
 (351, [665]),
 (35, [514]),
 (111, [312]),
 (146, [863]),
 (84, [876]),
 (150, [494]),
 (380, [172]),
 (262, [847]),
 (6, [346]),
 (597, [365]),
 (386, [849]),
 (541, [90]),
 (529, [883]),
 (119, [181]),
 (436, [274]),
 (344, [842]),
 (87, [69]),
 (95, [291]),
 (402, [131]),
 (335, [300]),
 (433, [662]),
 (508, [144]),
 (429, [135]),
 (66, [164]),
 (544, [28]),
 (238, [529]),
 (248, [193]),
 (53, [736]),
 (254, [880]),
 (246, [169]),
 (405, [432]),
 (561, [140]),
 (7, [173]),
 (177, [6]),
 (332, [604]),
 (334, [869]),
 (86, [73]),
 (161, [643]),
 (265, [361]),
 (287, [238]),
 (130, [145]),
 (412, [907]),
 (263, [234]),
 (536, [220]),
 (413, [917]),
 (165, [601]),
 (221, [132]),
 (113, [933]),
 (576, [357]),
 (587, [185]),
 (174, [41]),
 (538, [867]),
 (452, [108]),
 (17, [838]),
 (18, [56]),
 (143, [834]),
 (285, [732]),
 (304, [530]),
 (539, [24]),
 (157, [405]),
 (31, [483]),
 (555, [918]),
 (210, [338]),
 (214, [51]),
 (449, [457]),
 (223, [865]),
 (422, [596]),
 (326, [264]),
 (372, [493]),
 (460, [788]),
 (188, [777]),
 (431, [934]),
 (341, [18]),
 (494, [813]),
 (464, [535]),
 (379, [377]),
 (360, [367]),
 (83, [83]),
 (336, [61]),
 (48, [381]),
 (369, [272]),
 (155, [285]),
 (403, [360]),
 (149, [354]),
 (533, [554]),
 (284, [278, 12]),
 (176, [182, 368]),
 (160, [430, 618]),
 (343, [223, 539]),
 (521, [658, 440]),
 (179, [478, 549]),
 (399, [753, 176]),
 (151, [634, 500]),
 (416, [932, 456]),
 (519, [163, 248]),
 (250, [597, 833]),
 (363, [375, 74]),
 (127, [113, 536]),
 (16, [527, 390]),
 (346, [104, 114]),
 (446, [411, 92]),
 (520, [531, 89]),
 (385, [336, 931]),
 (493, [866, 877]),
 (593, [570, 905]),
 (572, [575, 94]),
 (24, [11, 396]),
 (243, [501, 43]),
 (62, [42, 329]),
 (601, [167, 490]),
 (153, [824, 874]),
 (116, [712, 100]),
 (415, [426, 178]),
 (201, [416, 655]),
 (550, [830, 620]),
 (308, [177, 395]),
 (148, [695, 783]),
 (398, [644, 383]),
 (370, [257, 495]),
 (54, [335, 578]),
 (560, [15, 3]),
 (589, [485, 256]),
 (312, [513, 714]),
 (181, [666, 464]),
 (109, [393, 222]),
 (454, [179, 289]),
 (404, [544, 324]),
 (100, [557, 9]),
 (453, [249, 22]),
 (256, [356, 221]),
 (406, [628, 811]),
 (266, [926, 749]),
 (213, [340, 431]),
 (296, [518, 785]),
 (532, [545, 203]),
 (28, [594, 445]),
 (50, [237, 93]),
 (392, [525, 816]),
 (377, [633, 789]),
 (286, [284, 184]),
 (91, [757, 920]),
 (105, [434, 653]),
 (126, [153, 75]),
 (327, [450, 689]),
 (292, [756, 277]),
 (552, [68, 446]),
 (132, [591, 486]),
 (478, [188, 271]),
 (355, [697, 582]),
 (170, [236, 487]),
 (315, [88, 800]),
 (448, [117, 125]),
 (110, [857, 512]),
 (209, [823, 558]),
 (445, [126, 116]),
 (523, [473, 652]),
 (140, [57, 635]),
 (217, [858, 369]),
 (395, [268, 46]),
 (362, [349, 195]),
 (301, [942, 786]),
 (345, [693, 263]),
 (490, [443, 636]),
 (528, [304, 341]),
 (199, [910, 149]),
 (133, [124, 741]),
 (568, [50, 353]),
 (359, [872, 142]),
 (496, [470, 399]),
 (590, [589, 320]),
 (10, [19, 762]),
 (147, [745, 761]),
 (68, [407, 537]),
 (282, [584, 38]),
 (298, [175, 245]),
 (281, [781, 629]),
 (291, [710, 808]),
 (548, [154, 287]),
 (602, [567, 17]),
 (114, [127, 322]),
 (556, [255, 750]),
 (506, [908, 190]),
 (129, [115, 580]),
 (583, [180, 301]),
 (331, [715, 717]),
 (323, [682, 752]),
 (46, [651, 517]),
 (483, [927, 45]),
 (565, [855, 157]),
 (135, [936, 171]),
 (511, [16, 511]),
 (516, [48, 914]),
 (183, [792, 515]),
 (435, [886, 480]),
 (215, [283, 616]),
 (364, [225, 26]),
 (227, [737, 437]),
 (302, [895, 364]),
 (158, [229, 37]),
 (396, [909, 374]),
 (293, [469, 911]),
 (579, [801, 684]),
 (352, [194, 804]),
 (329, [814, 503]),
 (122, [913, 898]),
 (540, [579, 912]),
 (566, [162, 922]),
 (595, [152, 841]),
 (85, [670, 711]),
 (195, [111, 226]),
 (253, [820, 103]),
 (515, [421, 419]),
 (438, [706, 586]),
 (410, [735, 119]),
 (484, [53, 151]),
 (96, [403, 889]),
 (588, [207, 795]),
 (37, [718, 8]),
 (156, [760, 36]),
 (419, [452, 253]),
 (230, [303, 854]),
 (477, [571, 623]),
 (288, [668, 678]),
 (14, [262, 610]),
 (499, [297, 414]),
 (447, [150, 743]),
 (178, [640, 836, 550]),
 (390, [746, 488, 147]),
 (197, [146, 679, 894]),
 (38, [696, 659, 348]),
 (103, [463, 325, 186]),
 (502, [123, 803, 608]),
 (578, [143, 902, 197]),
 (144, [609, 279, 293]),
 (142, [400, 122, 183]),
 (22, [202, 438, 246]),
 (421, [415, 721, 839]),
 (525, [835, 129, 637]),
 (294, [402, 739, 843]),
 (598, [859, 219, 641]),
 (401, [861, 708, 759]),
 (88, [864, 624, 790]),
 (41, [716, 386, 915]),
 (131, [509, 267, 809]),
 (580, [441, 496, 112]),
 (77, [691, 232, 819]),
 (378, [607, 671, 373]),
 (4, [924, 794, 233]),
 (164, [740, 676, 317]),
 (290, [648, 410, 845]),
 (269, [709, 358, 258]),
 (599, [627, 632, 282]),
 (348, [376, 384, 224]),
 (571, [897, 767, 472]),
 (295, [347, 505, 639]),
 (512, [930, 873, 851]),
 (546, [619, 916, 645]),
 (603, [797, 556, 901]),
 (458, [577, 85, 242]),
 (375, [698, 159, 524]),
 (333, [35, 540, 170]),
 (235, [654, 837, 807]),
 (317, [798, 888, 733]),
 (94, [95, 563, 240]),
 (418, [742, 574, 690]),
 (570, [460, 553, 826]),
 (328, [206, 392, 397]),
 (318, [766, 799, 217]),
 (320, [4, 768, 642]),
 (167, [844, 612, 738]),
 (12, [546, 725, 683]),
 (171, [98, 727, 573]),
 (260, [406, 502, 47]),
 (9, [32, 779, 200]),
 (258, [134, 27, 828]),
 (510, [230, 489, 772]),
 (138, [378, 288, 418]),
 (549, [674, 391, 592]),
 (319, [498, 138, 62]),
 (89, [471, 647, 128]),
 (0, [919, 520, 64]),
 (558, [812, 14, 156]),
 (139, [40, 492, 379]),
 (112, [187, 763, 216]),
 (531, [791, 52, 337]),
 (224, [748, 719, 724]),
 (591, [295, 701, 251]),
 (409, [726, 461, 455]),
 (325, [939, 815, 269, 201]),
 (299, [161, 555, 729, 401]),
 (172, [702, 476, 821, 771]),
 (434, [105, 565, 389, 1]),
 (25, [881, 561, 80, 205]),
 (391, [34, 775, 508, 427]),
 (193, [454, 366, 91, 339]),
 (440, [564, 345, 776, 241]),
 (573, [13, 315, 600, 387]),
 (503, [273, 166, 840, 935]),
 (117, [646, 818, 484, 923]),
 (3, [504, 831, 243, 566]),
 (74, [875, 562, 686, 189]),
 (467, [782, 699, 475, 681]),
 (321, [510, 58, 474, 560]),
 (5, [856, 747, 252, 21]),
 (222, [313, 459, 160, 276]),
 (547, [191, 385, 805, 413]),
 (228, [491, 343, 769, 308]),
 (39, [661, 130, 663, 871]),
 (542, [99, 372, 87, 458]),
 (242, [330, 214, 466, 121]),
 (136, [614, 20, 700, 71])]

### Generating a dataset that accounts are built with users from different clusters

### Input data

In [8]:
# reading data from clustered users in '00 Weight Matrix Production.ipynb'
%store -r user_indices_of_Type

In [9]:
user_indices_of_Type[3]

[0,
 5,
 9,
 15,
 20,
 21,
 41,
 43,
 55,
 57,
 63,
 69,
 81,
 82,
 86,
 90,
 98,
 101,
 108,
 115,
 116,
 118,
 124,
 143,
 157,
 159,
 176,
 180,
 183,
 187,
 188,
 196,
 206,
 209,
 212,
 214,
 215,
 220,
 232,
 238,
 243,
 245,
 248,
 249,
 253,
 262,
 266,
 274,
 289,
 293,
 297,
 298,
 304,
 306,
 317,
 319,
 324,
 325,
 326,
 331,
 342,
 345,
 346,
 360,
 373,
 378,
 379,
 380,
 384,
 390,
 391,
 393,
 396,
 397,
 408,
 424,
 425,
 441,
 446,
 451,
 452,
 453,
 454,
 455,
 457,
 458,
 465,
 467,
 478,
 483,
 485,
 486,
 487,
 488,
 492,
 497,
 498,
 499,
 513,
 520,
 526,
 532,
 535,
 541,
 542,
 544,
 547,
 552,
 553,
 565,
 566,
 585,
 599,
 607,
 618,
 620,
 621,
 623,
 624,
 626,
 631,
 639,
 642,
 644,
 652,
 658,
 659,
 660,
 662,
 663,
 664,
 665,
 670,
 693,
 696,
 698,
 708,
 709,
 714,
 737,
 747,
 756,
 762,
 765,
 772,
 773,
 775,
 787,
 789,
 794,
 805,
 814,
 822,
 824,
 825,
 829,
 832,
 837,
 839,
 842,
 846,
 847,
 850,
 861,
 866,
 867,
 869,
 870,
 881,
 882,
 885,
 889,
 893,
 898,
 900,
 902,
 912,
 918,
 926,
 932,
 933,
 942]

In [253]:
table

       #users  #accounts
1           0          0
2         600        300
3           0          0
4           0          0
Total     600        300

In [10]:
account_size =[]
number_of_users_in_accounts = []
number_of_accounts = []
for size, row in table[:-1].iterrows():
    account_size.append(size)
    number_of_users_in_accounts.append(row['#users'])
    number_of_accounts.append(row['#accounts'])

In [11]:
number_of_users_in_accounts, number_of_accounts, account_size

([0, 600, 0, 0], [0, 300, 0, 0], [1, 2, 3, 4])

________________________

### Process

In [12]:
np.random.seed(42)  # For reproducibility
user_shuffled_indices_of_Type = []
for i in range(4):
    user_shuffled_indices_of_Type.append(list(np.random.permutation(list(user_indices_of_Type[i]))))

In [13]:
all_accounts = []
new_account = []
random.seed(42)
Types = [0,1,2,3]
i = 0
np.random.seed(42)  # For reproducibility

for i in range(4):
    for account in range(number_of_accounts[i]):
        size = account_size[i]
        Type = random.sample(Types,size)
#         print('account',account,'of size',size, 'availible types',Type)

        new_account = []
        for t in Type:
#             print('from type',t)
            r =np.random.randint(0,high=len(user_shuffled_indices_of_Type[t]))
            new_account.append(user_shuffled_indices_of_Type[t][r])
#             print('newaccount',new_account)

        if len(user_shuffled_indices_of_Type[t]) == 0 :
            Types.remove(t)

#         print(new_account)
#         print('lenT0',len(user_shuffled_indices_of_Type[0]),'lenT1',len(user_shuffled_indices_of_Type[1]),
#               'lenT2',len(user_shuffled_indices_of_Type[2]),'lenT3',len(user_shuffled_indices_of_Type[3]))
#         print('remaining types',Types)
        all_accounts.append(new_account)

In [14]:
all_accounts

[[589, 642],
 [302, 422],
 [273, 247],
 [328, 931],
 [589, 891],
 [326, 16],
 [723, 253],
 [295, 724],
 [819, 386],
 [704, 863],
 [214, 780],
 [331, 863],
 [144, 322],
 [170, 757],
 [663, 490],
 [193, 611],
 [725, 249],
 [210, 620],
 [324, 152],
 [279, 222],
 [144, 819],
 [393, 896],
 [917, 576],
 [348, 221],
 [879, 498],
 [59, 547],
 [323, 605],
 [430, 15],
 [678, 832],
 [260, 390],
 [288, 296],
 [531, 759],
 [746, 934],
 [879, 276],
 [937, 12],
 [879, 325],
 [192, 221],
 [721, 94],
 [169, 569],
 [547, 506],
 [587, 620],
 [796, 89],
 [473, 655],
 [556, 716],
 [270, 269],
 [278, 676],
 [420, 93],
 [895, 427],
 [861, 87],
 [626, 752],
 [150, 194],
 [151, 193],
 [377, 465],
 [214, 177],
 [451, 79],
 [592, 817],
 [82, 431],
 [18, 499],
 [786, 84],
 [540, 456],
 [747, 896],
 [463, 598],
 [380, 471],
 [893, 587],
 [333, 373],
 [833, 406],
 [120, 94],
 [726, 206],
 [294, 807],
 [915, 759],
 [729, 424],
 [770, 17],
 [91, 289],
 [409, 605],
 [264, 150],
 [17, 238],
 [684, 412],
 [404, 104],
 [634, 300],
 [879, 878],
 [254, 209],
 [267, 128],
 [920, 695],
 [763, 377],
 [258, 814],
 [747, 738],
 [809, 46],
 [373, 58],
 [337, 942],
 [747, 162],
 [121, 94],
 [715, 208],
 [312, 549],
 [379, 584],
 [255, 634],
 [716, 184],
 [776, 415],
 [732, 327],
 [503, 632],
 [107, 550],
 [140, 566],
 [126, 220],
 [681, 851],
 [628, 902],
 [249, 567],
 [763, 880],
 [642, 225],
 [373, 871],
 [929, 784],
 [133, 641],
 [157, 729],
 [118, 601],
 [118, 405],
 [67, 200],
 [225, 212],
 [157, 6],
 [12, 366],
 [139, 29],
 [184, 177],
 [397, 134],
 [157, 189],
 [94, 721],
 [763, 818],
 [446, 536],
 [529, 342],
 [801, 331],
 [201, 357],
 [486, 859],
 [248, 883],
 [384, 44],
 [733, 861],
 [258, 119],
 [278, 213],
 [649, 437],
 [926, 828],
 [168, 397],
 [437, 104],
 [414, 300],
 [388, 24],
 [911, 654],
 [762, 177],
 [329, 413],
 [207, 238],
 [120, 896],
 [655, 233],
 [168, 624],
 [925, 863],
 [711, 587],
 [56, 797],
 [570, 763],
 [605, 503],
 [95, 436],
 [587, 334],
 [649, 437],
 [908, 12],
 [388, 908],
 [494, 225],
 [741, 554],
 [56, 624],
 [255, 434],
 [302, 195],
 [654, 52],
 [739, 499],
 [278, 472],
 [187, 536],
 [388, 21],
 [322, 587],
 [372, 379],
 [431, 492],
 [199, 801],
 [24, 388],
 [617, 245],
 [726, 116],
 [490, 845],
 [647, 682],
 [681, 623],
 [882, 409],
 [516, 644],
 [391, 734],
 [699, 390],
 [144, 314],
 [587, 475],
 [885, 531],
 [520, 560],
 [511, 298],
 [595, 392],
 [95, 406],
 [510, 213],
 [871, 467],
 [838, 674],
 [59, 184],
 [65, 758],
 [489, 129],
 [763, 473],
 [521, 735],
 [379, 221],
 [347, 76],
 [739, 464],
 [360, 777],
 [597, 895],
 [806, 296],
 [14, 183],
 [361, 415],
 [545, 721],
 [30, 295],
 [170, 857],
 [696, 64],
 [587, 911],
 [48, 210],
 [229, 143],
 [398, 280],
 [940, 938],
 [59, 492],
 [737, 311],
 [307, 332],
 [25, 313],
 [228, 233],
 [91, 689],
 [358, 6],
 [396, 557],
 [806, 340],
 [460, 19],
 [280, 773],
 [716, 386],
 [663, 464],
 [14, 520],
 [642, 210],
 [550, 620],
 [12, 825],
 [288, 93],
 [59, 542],
 [84, 289],
 [789, 259],
 [486, 915],
 [279, 378],
 [886, 145],
 [513, 845],
 [397, 560],
 [515, 404],
 [436, 750],
 [464, 906],
 [17, 411],
 [847, 312],
 [333, 51],
 [566, 712],
 [337, 177],
 [663, 177],
 [443, 471],
 [8, 517],
 [587, 99],
 [913, 177],
 [233, 328],
 [481, 574],
 [50, 631],
 [213, 526],
 [316, 435],
 [293, 726],
 [860, 804],
 [866, 315],
 [319, 537],
 [732, 290],
 [627, 384],
 [670, 604],
 [403, 388],
 [825, 141],
 [561, 742],
 [866, 432],
 [867, 300],
 [338, 561],
 [397, 428],
 [889, 514],
 [866, 87],
 [879, 862],
 [895, 180],
 [212, 6],
 [125, 446],
 [832, 724],
 [797, 447],
 [531, 684],
 [388, 187],
 [412, 805],
 [601, 133],
 [360, 294],
 [170, 270],
 [158, 244],
 [664, 128],
 [748, 380],
 [458, 257],
 [545, 206],
 [82, 168],
 [288, 302],
 [297, 720],
 [216, 169],
 [896, 355],
 [663, 494],
 [343, 108],
 [656, 644],
 [926, 353],
 [181, 733],
 [895, 306]]

### Dataset Generation

In [15]:
num_accounts = table['#accounts']['Total']
num_users = R_df.shape[0]
n = R_df.shape[1]

np.random.seed(42)  # For reproducibility
account_indices = np.random.permutation(num_accounts)

# Create a new DataFrame for R_sa
R_SAD_4C = np.zeros((num_accounts,n),dtype=float)
merge_mapping = []

# Function to merge user rows
def merge_users(user_indices):
    return R_df.iloc[user_indices,:].sum(axis=0)

for i in range(len(all_accounts)):
    R_SAD_4C[account_indices[i]] = merge_users(all_accounts[i])
    merge_mapping.append(all_accounts[i])

In [16]:
merge_mapping

[[589, 642],
 [302, 422],
 [273, 247],
 [328, 931],
 [589, 891],
 [326, 16],
 [723, 253],
 [295, 724],
 [819, 386],
 [704, 863],
 [214, 780],
 [331, 863],
 [144, 322],
 [170, 757],
 [663, 490],
 [193, 611],
 [725, 249],
 [210, 620],
 [324, 152],
 [279, 222],
 [144, 819],
 [393, 896],
 [917, 576],
 [348, 221],
 [879, 498],
 [59, 547],
 [323, 605],
 [430, 15],
 [678, 832],
 [260, 390],
 [288, 296],
 [531, 759],
 [746, 934],
 [879, 276],
 [937, 12],
 [879, 325],
 [192, 221],
 [721, 94],
 [169, 569],
 [547, 506],
 [587, 620],
 [796, 89],
 [473, 655],
 [556, 716],
 [270, 269],
 [278, 676],
 [420, 93],
 [895, 427],
 [861, 87],
 [626, 752],
 [150, 194],
 [151, 193],
 [377, 465],
 [214, 177],
 [451, 79],
 [592, 817],
 [82, 431],
 [18, 499],
 [786, 84],
 [540, 456],
 [747, 896],
 [463, 598],
 [380, 471],
 [893, 587],
 [333, 373],
 [833, 406],
 [120, 94],
 [726, 206],
 [294, 807],
 [915, 759],
 [729, 424],
 [770, 17],
 [91, 289],
 [409, 605],
 [264, 150],
 [17, 238],
 [684, 412],
 [404, 104],
 [634, 300],
 [879, 878],
 [254, 209],
 [267, 128],
 [920, 695],
 [763, 377],
 [258, 814],
 [747, 738],
 [809, 46],
 [373, 58],
 [337, 942],
 [747, 162],
 [121, 94],
 [715, 208],
 [312, 549],
 [379, 584],
 [255, 634],
 [716, 184],
 [776, 415],
 [732, 327],
 [503, 632],
 [107, 550],
 [140, 566],
 [126, 220],
 [681, 851],
 [628, 902],
 [249, 567],
 [763, 880],
 [642, 225],
 [373, 871],
 [929, 784],
 [133, 641],
 [157, 729],
 [118, 601],
 [118, 405],
 [67, 200],
 [225, 212],
 [157, 6],
 [12, 366],
 [139, 29],
 [184, 177],
 [397, 134],
 [157, 189],
 [94, 721],
 [763, 818],
 [446, 536],
 [529, 342],
 [801, 331],
 [201, 357],
 [486, 859],
 [248, 883],
 [384, 44],
 [733, 861],
 [258, 119],
 [278, 213],
 [649, 437],
 [926, 828],
 [168, 397],
 [437, 104],
 [414, 300],
 [388, 24],
 [911, 654],
 [762, 177],
 [329, 413],
 [207, 238],
 [120, 896],
 [655, 233],
 [168, 624],
 [925, 863],
 [711, 587],
 [56, 797],
 [570, 763],
 [605, 503],
 [95, 436],
 [587, 334],
 [649, 437],
 [908, 12],
 [388, 908],
 [494, 225],
 [741, 554],
 [56, 624],
 [255, 434],
 [302, 195],
 [654, 52],
 [739, 499],
 [278, 472],
 [187, 536],
 [388, 21],
 [322, 587],
 [372, 379],
 [431, 492],
 [199, 801],
 [24, 388],
 [617, 245],
 [726, 116],
 [490, 845],
 [647, 682],
 [681, 623],
 [882, 409],
 [516, 644],
 [391, 734],
 [699, 390],
 [144, 314],
 [587, 475],
 [885, 531],
 [520, 560],
 [511, 298],
 [595, 392],
 [95, 406],
 [510, 213],
 [871, 467],
 [838, 674],
 [59, 184],
 [65, 758],
 [489, 129],
 [763, 473],
 [521, 735],
 [379, 221],
 [347, 76],
 [739, 464],
 [360, 777],
 [597, 895],
 [806, 296],
 [14, 183],
 [361, 415],
 [545, 721],
 [30, 295],
 [170, 857],
 [696, 64],
 [587, 911],
 [48, 210],
 [229, 143],
 [398, 280],
 [940, 938],
 [59, 492],
 [737, 311],
 [307, 332],
 [25, 313],
 [228, 233],
 [91, 689],
 [358, 6],
 [396, 557],
 [806, 340],
 [460, 19],
 [280, 773],
 [716, 386],
 [663, 464],
 [14, 520],
 [642, 210],
 [550, 620],
 [12, 825],
 [288, 93],
 [59, 542],
 [84, 289],
 [789, 259],
 [486, 915],
 [279, 378],
 [886, 145],
 [513, 845],
 [397, 560],
 [515, 404],
 [436, 750],
 [464, 906],
 [17, 411],
 [847, 312],
 [333, 51],
 [566, 712],
 [337, 177],
 [663, 177],
 [443, 471],
 [8, 517],
 [587, 99],
 [913, 177],
 [233, 328],
 [481, 574],
 [50, 631],
 [213, 526],
 [316, 435],
 [293, 726],
 [860, 804],
 [866, 315],
 [319, 537],
 [732, 290],
 [627, 384],
 [670, 604],
 [403, 388],
 [825, 141],
 [561, 742],
 [866, 432],
 [867, 300],
 [338, 561],
 [397, 428],
 [889, 514],
 [866, 87],
 [879, 862],
 [895, 180],
 [212, 6],
 [125, 446],
 [832, 724],
 [797, 447],
 [531, 684],
 [388, 187],
 [412, 805],
 [601, 133],
 [360, 294],
 [170, 270],
 [158, 244],
 [664, 128],
 [748, 380],
 [458, 257],
 [545, 206],
 [82, 168],
 [288, 302],
 [297, 720],
 [216, 169],
 [896, 355],
 [663, 494],
 [343, 108],
 [656, 644],
 [926, 353],
 [181, 733],
 [895, 306]]

In [44]:
# pd.DataFrame(R_SAD_4C).to_csv('InputData/R_SAD_2U.csv')
# Convert the merge mapping to a DataFrame
# columns=['are mixed in row of R_sa','rows of R']
# merge_mapping_df = pd.DataFrame(np.array(merge_mapping, dtype=object))
merge_mapping_df = pd.DataFrame({'rows of R':merge_mapping})

# merge_mapping_df = pd.DataFrame(np.array(merge_mapping, dtype=object), columns=['rows of R','are mixed in row of R_sa'])
merge_mapping_df.reset_index(inplace=True)
merge_mapping_df.rename(columns={'index':'are mixed in row of R_sa'},inplace=True)
merge_mapping_df.to_csv('InputData/GT_SAD_2U.csv', index=False)

In [45]:
merge_mapping_df

     are mixed in row of R_sa   rows of R
0                           0  [589, 642]
1                           1  [302, 422]
2                           2  [273, 247]
3                           3  [328, 931]
4                           4  [589, 891]
..                        ...         ...
295                       295  [343, 108]
296                       296  [656, 644]
297                       297  [926, 353]
298                       298  [181, 733]
299                       299  [895, 306]

[300 rows x 2 columns]